<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Education</h2>

<ul>
<li><p>Ph.D. in Computer Science, Louisiana State University, Aug. 2017 - Present</p>
</li>
<li><p>M.S. in Biostatistics, University of Michigan, Aug. 2012 - Jun. 2014</p>
</li>
<li><p>M.S. in Applied Mathematics, Bowling Green State University, Aug. 2010 - Jun. 2012</p>
</li>
<li><p>B.S. in Applied Physics, Northwest University (China), Jul. 2006 - Jun. 2010</p>
</li>
</ul>
<!-- <div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div> -->
