<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Publications</h2>


<!-- <h3>Conference</h3> -->
<ul>
<li><p><a href="Pub/icdm_2019_LMM.pdf">A Model-Agnostic Approach for Explaining the Predictions on Clustered Data</a> <br />
(acceptance rate: 194/1046=18.5%) <br />
<b>Zihan Zhou</b>, Mingxuan Sun, and Jianhua Chen <br />
in Proc. of the IEEE International Conference on Data Mining (ICDM), China, Nov.2019.</p>
</li> 
<!-- 
<li><p><a href="pubs/local-low-rank.pdf">Local low-rank Hawkes processes for temporal user-item interactions</a> <br />
(regular paper, acceptance rate: 84/948=8.86%) <br />
<b>Jin Shang</b>, and Mingxuan Sun <br />
in Proc. of the IEEE International Conference on Data Mining (ICDM), Singapore, Nov. 2018.</p>
</li>
<li><p><a href="pubs/crossdemo.pdf">Demographic inference via knowledge transfer in cross-domain recommender systems</a> <br />
(short paper, acceptance rate: 105/948=11.08%, total rate: 189/948=19.94%) <br />
<b>Jin Shang</b>, Mingxuan Sun, and Kevyn Collins-Thompson <br />
in Proc. of the IEEE International Conference on Data Mining (ICDM), Singapore, Nov. 2018.</p>
</li>
</ul>
<h3>Journal</h3>
<ul>
<li><p><a href="https://link.springer.com/epdf/10.1007/s10115-019-01379-6?author_access_token=s_nsMmaalPrdXl_TOVnRvPe4RwlQNchNByi7wbcMAY5AKah_lrhoWQI_BWqaN1rdy485EoRHGCUV0XgpZKHYKnv9xw6wKjb9TKLudFy8YJN97SZc5Wk21ulu7kVceZPdNOcLNvsjTEu3D0Z7_GL_eQ%3D%3D">Local low-rank Hawkes processes for temporal user-item interactions</a> <br />
<b>Jin Shang</b>, and Mingxuan Sun <br />
in Knowledge and Information Systems (KAIS) (2019):  1-24.</p>
</li>
<li><p><a href="pubs/Effect.pdf">Effect of folded and crumpled morphologies of graphene oxide platelets on the mechanical performances of polymer nanocomposites</a> <br />
[<a href="pubs/Sup.docx">Supporting Information</a>] <br />
<b>Jin Shang</b>, Yuli Chen, et al. <br />
in Polymer 68 (2015): 131-139.</p>
</li> -->
</ul>
</td>
</tr>
</table>
</body>
</html>

